{% extends "encyclopedia/layout.html" %}

{% block title %}
    NewEntry
{% endblock %}
    
{% block body %}
<div class="w-50 h-50">

    <form action="{% url 'wiki:edition' %}" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="new_title" id="" cols="30" rows="10" value="{{ title }}" readonly>
        </div>

        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" name="new_content" id="" cols="30" rows="10" >{{ titulo }}</textarea>
        </div>

        <button class="btn btn-primary btn-block">Edit</button>
    </form>
    
</div>
{% endblock %}